<section id="artigos">
  <div class="container">
    <div class="subtitle">
      <h3>Artigos</h3>
    </div>
    <!-- <h4>Publicações</h4> -->
    <ul class="publications content">
      <li>
        <span class="postDate has-text-grey text-mono">06/2022 </span>
        <div>
          <a href="https://www.researchgate.net/publication/361436862_RE-HEPATECTOMY_MEANS_MORE_MORBIDITY_A_MULTICENTRIC_ANALYSIS"
            target="_blank">RE-HEPATECTOMY MEANS MORE MORBIDITY? A MULTICENTRIC ANALYSIS</a>
          <p class="is-size-7 has-text-grey">Luiza BASILIO, Klaus STEINBRÜCK, Reinaldo FERNANDES, Marcelo
            D’OLIVEIRA, Renato CANO, Hanna VASCONCELOS, Daniel BARBOSA, Marcelo ENNE</p>
        </div>
      </li>
      <li>
        <span class="postDate has-text-grey text-mono">05/2022 </span>
        <div>
          <a href="https://www.researchgate.net/publication/359995743_COMBINED_EXTENDED_RIGHT_HEPATECTOMY_WITH_INFERIOR_VENA_CAVA_RESECTION_AND_RECONSTRUCTION_WITH_GORE-TEX_GRAFT"
            target="_blank">COMBINED EXTENDED RIGHT HEPATECTOMY WITH INFERIOR VENA CAVA RESECTION AND RECONSTRUCTION
            WITH
            GORE-TEX GRAFT</a>
          <p class="is-size-7 has-text-grey">Klaus STEINBRÜCK, Renato CANO, Hanna VASCONCELOS, Bruno RANGEL, Reinaldo
            FERNANDES, Marcelo ENNE</p>
        </div>
      </li>
      <li>
        <span class="postDate has-text-grey text-mono">12/2021 </span>
        <div>
          <a href="/assets/articles/2021-3981_Symptomatic_Residual_Gallbladder.pdf" target="_blank">Symptomatic Residual
            Gallbladder: A Rare Condition Associated to Subtotal
            Cholecystectomy: A Report of Two Cases</a>
          <p class="is-size-7 has-text-grey">Rafaela CAPELLI, Klaus STEINBRÜCK, Luiza BASILIO, Marcelo D’OLIVEIRA,
            Renato CANO, Hanna
            VASCONCELOS, Reinaldo FERNANDES, Marcelo ENNE</p>
        </div>
      </li>
      <li>
        <span class="postDate has-text-grey text-mono">01/2021 </span>
        <div>
          <a href="https://www.researchgate.net/publication/354296557_Utilidade_do_Teste_de_Vazamento_de_Bile_Durante_Hepatectomias"
            target="_blank">Utilidade do Teste de Vazamento de Bile Durante Hepatectomias</a>
          <p class="is-size-7 has-text-grey">Hanna VASCONCELOS, Luiza BASILIO, Rafaela CAPELLI, Renato CANO, Marcelo
            D'OLIVEIRA, Klaus STEINBRÜCK, Reinaldo FERNANDES, Marcelo ENNE, Eduardo VIANA</p>
        </div>
      </li>
      <li>
        <span class="postDate has-text-grey text-mono">10/2020 </span>
        <div>
          <a href="https://www.researchgate.net/publication/344825846_BILE_LEAKAGE_TEST_IN_HEPATECTOMY_-IS_BETTER_WHEN_IT_BUBBLES"
            target="_blank">Bile leakage test in hepatectomy — is better when it bubbles?</a>
          <p class="is-size-7 has-text-grey">Marcelo OLIVEIRA, Hanna VASCONCELOS, Klaus STEINBRÜCK, Reinaldo FERNANDES,
            Luiza BASILIO, Rafaela CAPELLI, Renato CANO and Marcelo ENNE</p>
        </div>
      </li>
      <li>
        <span class="postDate has-text-grey text-mono">08/2020 </span>
        <div>
          <a href="https://www.researchgate.net/publication/343400508_Neoplastic_Seeding_in_Abdominal_Wall_Following_Radiofrequency_Ablation_of_Colorectal_Liver_Metastasis_Case_Report"
            target="_blank">Neoplastic Seeding in Abdominal Wall Following Radiofrequency Ablation of Colorectal Liver
            Metastasis: Case Report</a>
          <p class="is-size-7 has-text-grey">Renato CANO, Klaus STEINBRÜCK, Reinaldo FERNANDES, Marcelo D’OLIVEIRA,
            Luiza BASILIO, Rafaela CAPELLI, Hanna VASCONCELOS, Marcelo ENNE</p>
        </div>
      </li>
      <li>
        <span class="postDate has-text-grey text-mono">01/2020 </span>
        <div>
          <a href="https://www.researchgate.net/publication/348771289_EXTERNAL_PRINGLE_MANEUVER_IN_LAPAROSCOPIC_LIVER_RESECTION_A_SAFE_CHEAP_AND_REPRODUCIBLE_WAY_TO_PERFORM_IT"
            target="_blank">EXTERNAL PRINGLE MANEUVER IN LAPAROSCOPIC LIVER RESECTION: A SAFE, CHEAP AND REPRODUCIBLE
            WAY TO PERFORM IT</a>
          <p class="is-size-7 has-text-grey">Klaus STEINBRÜCK, Reinaldo FERNANDES, Marcelo D’OLIVEIRA, Rafaela CAPELLI,
            Renato CANO, Hanna VASCONCELOS, Luiza BASILIO, Marcelo ENNE</p>
        </div>
      </li>
      <li>
        <span class="postDate has-text-grey text-mono">12/2019 </span>
        <div>
          <a href="/assets/articles/OJS-ID29.pdf" target="_blank">Two Times Hepatic Trauma Treatment: Balloon Tamponade
            and Hepatectomy-an
            Ideal Scenario?</a>
          <p class="is-size-7 has-text-grey">Reinaldo FERNANDES, Hanna VASCONELOS, Renato CANO, Klaus STEINBRÜCK,
            Danielle B. DELAI, Júlia R. N. SOUZA, Igor DUQUE, Luiza MACIEL, Marcelo ENNE, Marcelo D'OLIVEIRA, Rafaela
            CAPELLI, Luiza BASILIO
          </p>
        </div>
      </li>

    </ul>
    <!-- <h4>Blog</h4>
    <ul class="myposts">
      {% for post in site.posts %}
      <li>
        <span class="postDate has-text-grey text-mono">{{ post.date | date: "%m/%Y" }} </span>
        <a href="{{ post.url | prepend:site.baseurl }}" title="{{ post.title}}"> {{ post.title}}</a>
      </li>
      {% endfor %}
    </ul> -->
  </div>
</section>