<section id="atendimento" class="section">
  <div class="container">
    <div class="subtitle">
      <h3>Atendimento</h3>
    </div>

    <div class="columns is-multiline">
      {% for workplace in site.workplaces %}
      <div class="column is-6">
        <div class="card hospital" itemscope itemtype="https://schema.org/LocalBusiness">
          <meta itemprop="name" content="{{ workplace.title }}">
          <link itemprop="image" href="/assets/images/{{ workplace.image }}">
          {% if workplace.links.map %}
          <a href="{{ workplace.links.map }}" target="_blank" class="link-maps" rel="noreferrer"
            onclick="gtag('event', 'click', { 'event_category': 'Outbound links', 'event_label': 'Google Maps - {{ workplace.eventLabel }}'});">
            {% endif %}
            {% if workplace.image %}
            <div class="map" style="background-image: url(/assets/images/{{ workplace.image }})"></div>
            {% else %}
            <div class="map"></div>
            {% endif %}
            {% if workplace.links.map %}
          </a>
          {% endif %}
          <div class="card-content professional h-card" itemprop="address" itemscope
            itemtype="https://schema.org/PostalAddress">
            <small class="caption"><span itemprop="addressLocality">{{ workplace.addressLocality }}</span>
              {% if workplace.addressRegion %}
              – <span itemprop="addressRegion">{{ workplace.addressRegion }}</span>
              {% endif %}</small>
            <h5 itemprop="name">
              {% if workplace.links.map %}
              <a href="{{ workplace.links.map }}" target="_blank" class="link-maps" rel="noreferrer"
                onclick="gtag('event', 'click', { 'event_category': 'Outbound links', 'event_label': 'Google Maps - {{ workplace.eventLabel }}'});">
                {% endif %}
                {{ workplace.title }}
                {% if workplace.links.map %}
              </a>
              {% endif %}
            </h5>
            <p class="h-adr has-text-grey">
              <small>
                <span class="p-street-address" itemprop="streetAddress">{{ workplace.streetAddress }}</span>
              </small>
            </p>
          </div>
          <div class="card-footer">
            <a class="card-footer-item" itemprop="url" href="{{ workplace.links.schedule }}" target="_blank"
              rel="noreferrer"
              onclick="gtag('event', 'click', { 'event_category': 'Outbound links', 'event_label': 'WhatsApp'});gtag('event', 'conversion', {'send_to': 'AW-1035494901/EYlkCMj25ZkDEPXL4e0D'});">Agendar
              consulta</a>
            {% if workplace.links.plans %}
            <a class="card-footer-item" itemprop="url" href="{{ workplace.links.plans }}" target="_blank"
              rel="noreferrer"
              onclick="gtag('event', 'click', { 'event_category': 'Outbound links', 'event_label': 'Consulta convênios - {{ workplace.eventLabel }}'});">Ver
              convênios</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


  </div>
</section>