<section id="depoimentos" class="section">
  <div class="container">
    <div class="subtitle">
      <h3>Depoimentos de pacientes</h3>
      <a href="https://www.doctoralia.com.br/hanna-vasconcelos/cirurgiao-geral/rio-de-janeiro#tab=profile-reviews"
        target="_blank" class="ver-todos">Mostrar todos</a>
    </div>
    <div class="columns">
      <div class="column testimonial">
        <img src="/assets/images/avatar-01.svg" class="avatar-patient" alt="Paciente" />
        <div class="quote">
          <blockquote>“Realizei minha cirurgia com a Dra Hanna, profissional atenciosa sempre respondendo as minhas
            dúvidas e inseguranças fiquei muito satisfeita do início ao fim do meu tratamento.”</blockquote>
          <div class="author">
            <h5>Sarita</h5>
            <small class="caption">Colecistectomia videolaparoscópica</small>
          </div>
        </div>
      </div>
      <div class="column testimonial">
        <img src="/assets/images/avatar-02.svg" class="avatar-patient" alt="Paciente" />
        <div class="quote">
          <blockquote>“Todo o processo para realização da cirurgia foi tranquilo e o procedimento se deu dentro do
            esperado. Ótima cirurgiã. Recomendo!”</blockquote>
          <div class="author">
            <h5>José Carlos</h5>
            <small class="caption">Colecistectomia videolaparoscópica</small>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column testimonial">
        <img src="/assets/images/avatar-03.svg" class="avatar-patient" alt="Paciente" />
        <div class="quote">
          <blockquote>“Dra. Hanna muito atenciosa, ótima profissional. Cirurgia perfeita tranquila sem intercorrencias.”
          </blockquote>
          <div class="author">
            <h5>Elisabete e Marcos</h5>
            <small class="caption">Herniorrafia Inguinal (Unilateral)</small>
          </div>
        </div>
      </div>
      <div class="column testimonial">
        <img src="/assets/images/avatar-04.svg" class="avatar-patient" alt="Paciente" />
        <div class="quote">
          <blockquote>“Cirurgia de vesícula foi perfeita. Dra. Hanna me atendeu de forma excelente. Não tive nenhuma
            intercorrência e praticamente não ficou cicatrizes.”</blockquote>
          <div class="author">
            <h5>Leonardo</h5>
            <small class="caption">Colecistectomia videolaparoscópica</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>