<section id="depoimentos" class="section">
  <div class="container">
    <div class="subtitle">
      <h3>Depoimentos de pacientes</h3>
      <a href="https://maps.app.goo.gl/dMaDLbfmG7b3QHx66" target="_blank" class="ver-todos">Mostrar todos</a>
    </div>
    <div class="testimonials-masonry">
      {% assign sorted_testimonials = site.testimonials | sort: "name" %}
      {% for testimonial in sorted_testimonials %}
      <div class="testimonial-item">
        <div class="card">
          <div class="card-content">
            <div class="media">
              {% if testimonial.avatar %}
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/assets/images/testimonials/{{ testimonial.avatar }}" alt="{{ testimonial.name }}">
                </figure>
              </div>
              {% endif %}
              <div class="media-content">
                <h5>{{ testimonial.name }}</h5>
                <small><span class="has-text-grey">{{ testimonial.procedure }}</span></small>
                <div class="stars">
                  {% for i in (1..testimonial.stars) %}
                  <span class="icon has-text-warning">
                    <i class="fas fa-star"></i>
                  </span>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="content">
              {{ testimonial.content }}
            </div>
          </div>
          {% if testimonial.image %}
          <div class="card-image">
            <img src="{{ testimonial.image }}">
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>