<section id="especialidades" class="section">
  <div class="container" itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
    <div class="subtitle">
      <h3>Especialidades</h3>
    </div>
    <div class="collapsible" itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
      <h4 itemprop="name">Cálculo da vesícula biliar</h4>
      <div class="chevron"></div>
    </div>
    <div class="content">
      <p>Remoção de pedras (ou cálculos) biliares, que são depósitos duros que se formam na vesícula biliar. A cirurgia
        envolve a remoção da vesícula biliar através de uma incisão na parede abdominal.</p>
      <p><a href="{% link
        _posts/2024-04-10-vesicula-biliar-e-calculos-biliares.md %}">
          <img src="/assets/images/icon-document.svg" class="icon" alt="Ícone" />Leia mais sobre a vesícula biliar e os
          cálculos
          biliares</a></p>
      <p>
        <a href="https://www.instagram.com/p/CtrbL0OAYIX/" target="_blank"><img
            src="/assets/images/icon-video-square.svg" class="icon" alt="Ícone" />Entenda o que pode acontecer quando
          você tem cálculos biliares</a>
      </p>
    </div>
    <div class="collapsible" itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
      <h4 itemprop="name">Cirurgia minimamente invasiva</h4>
      <div class="chevron"></div>
    </div>
    <div class="content">
      <p>Técnica cirúrgica que utiliza instrumentos de visualização e manipulação mínima para realizar procedimentos
        através de pequenas incisões na pele. Isso permite uma recuperação mais rápida e menos dor do que as técnicas
        cirúrgicas tradicionais.</p>
    </div>
    <div class="collapsible" itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
      <h4 itemprop="name">Hérnias inguinal e umbilical</h4>
      <div class="chevron"></div>
    </div>
    <div class="content">
      <p>Hérnias inguinal e umbilical são protrusões visíveis de um órgão abdominal através de uma fraqueza na parede
        abdominal. O tratamento envolve a colocação de uma tela para reforçar a parede abdominal e evitar complicações.
      </p>
    </div>
    <div class="collapsible" itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
      <h4 itemprop="name">Câncer do intestino</h4>
      <div class="chevron"></div>
    </div>
    <div class="content">
      <p>Detecção e tratamento do câncer colorretal, que afeta o cólon e o reto. A cirurgia envolve a remoção do tumor e
        pode ser seguida por quimioterapia ou radioterapia, dependendo do estágio do câncer.</p>
    </div>
    <div class="collapsible" itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
      <h4 itemprop="name">Cistos hepáticos</h4>
      <div class="chevron"></div>
    </div>
    <div class="content">
      <p>Remoção de cistos hepáticos — bolsas cheias de líquido que se formam no fígado. A cirurgia envolve a remoção do
        cisto e pode ser realizada com técnicas minimamente invasivas ou com cirurgia aberta.</p>
    </div>
    <div class="collapsible" itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
      <h4 itemprop="name">Lipoma e cisto sebáceo</h4>
      <div class="chevron"></div>
    </div>
    <div class="content">
      <p>Remoção de lipomas, que são tumores benignos de tecido adiposo, e cistos sebáceos, que são bolsas cheias de pus
        que se formam na pele. A cirurgia envolve a remoção do tumor ou cisto e pode ser realizada com técnicas
        minimamente invasivas ou com cirurgia aberta.</p>
    </div>
    <div class="collapsible" itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
      <h4 itemprop="name">Tumores benignos do fígado</h4>
      <div class="chevron"></div>
    </div>
    <div class="content">
      <p>Remoção de tumores benignos do fígado, que podem ser adenomas, hemangiomas ou outros tipos de tumores. A
        cirurgia envolve a remoção do tumor e pode ser realizada com técnicas minimamente invasivas ou com cirurgia
        aberta.</p>
    </div>
    <div class="collapsible" itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
      <h4 itemprop="name">Tumores malignos do fígado</h4>
      <div class="chevron"></div>
    </div>
    <div class="content">
      <p>Tratamento de tumores malignos do fígado, como o hepatocarcinoma. A cirurgia envolve a remoção do tumor, mas
        pode ser mais complexa do que a remoção de tumores benignos devido à necessidade de preservar a função hepática.
        A quimioterapia e a radioterapia também podem ser usadas no tratamento de tumores malignos do fígado</p>
    </div>
  </div>
  {% include mobile-schedule-button.html %}
</section>