<section id="especialidades" class="section">
  <div class="container" itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
    <div class="subtitle">
      <h3>Especialidades</h3>
    </div>
    {% assign specialties = site.specialties | sort: 'order' %}
    {% for specialty in specialties %}
    <div class="collapsible" itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
      <h4 itemprop="name">{{ specialty.title }}</h4>
      <div class="chevron"></div>
    </div>
    <div class="content">
      {{ specialty.content }}
    </div>
    {% endfor %}
  </div>
  {% include mobile-schedule-button.html %}
</section>