{% if include.topic %}
{% assign topic_faqs = site.faqs | where: "topic", include.topic | sort: 'order' %}
{% if topic_faqs.size > 0 %}
<section id="faq" class="section">
  <div class="container">
    <div class="subtitle">
      <h3>Perguntas frequentes</h3>
    </div>
    {% for faq in topic_faqs %}
    <div>
      <div class="collapsible">
        <h4>{{ faq.question }}</h4>
        <div class="chevron"></div>
      </div>
      <div class="content">
        <div>
          {{ faq.content }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include mobile-schedule-button.html %}
</section>
{% endif %}
{% endif %}
