<section id="feed" class="section">
  <div class="container">
    <div class="subtitle">
      <h3>Feed</h3>
      <a href="https://instagram.com/dra.hannavasconcelos" target="_blank" class="ver-todos">Instagram</a>
    </div>
    <div class="columns">
      <div class="column">
        <!-- Place <div> tag where you want the feed to appear -->
        <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank"
            class="crt-logo crt-tag">Powered by Curator.io</a></div>
        <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
        <script type="text/javascript">
          /* curator-feed-default-feed-layout */
          (function () {
            var i,
              e,
              d = document,
              s = "script";
            i = d.createElement("script");
            i.async = 1;
            i.charset = "UTF-8";
            i.src = "https://cdn.curator.io/published/68e4e319-8a2f-4ecf-be6a-d5d57713ba78.js";
            e = d.getElementsByTagName(s)[0];
            e.parentNode.insertBefore(i, e);
          })();
        </script>
      </div>
    </div>
  </div>
</section>