<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-32x32.png" | absolute_url }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-16x16.png" | absolute_url }}" sizes="16x16" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
  <title>
    {{ page.title }}
  </title>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126340732-2"></script>
  <!-- Global site tag (gtag.js) - Google Ads: 1035494901 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1035494901"></script>

  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    // Send pageviews to Google Analytics
    gtag('config', 'UA-126340732-2');

    gtag('config', 'AW-1035494901');
  </script>

</head>