<section id="hero" class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <img src="/assets/images/hero-thumb.png" alt="Dra. Hanna Vasconcelos - Cirurgiã Geral"
            class="is-hidden-tablet thumb" />
          <h3>Carinho e empatia no cuidado, para que as pessoas <em>aproveitem a vida</em>.</h3>
          <h2>Cirurgia geral e digestiva com foco em vesícula, vias biliares, fígado, pâncreas e hérnias da
            parede
            abdominal. <span>Atendimento no Rio de Janeiro e Niterói</span></h2>
          <ul class="personal h-card">
            <li>CRM: 52104018-9 | RQE: 45103 e 45104</li>
            <li>
              <a href="https://instagram.com/dra.hannavasconcelos" target="_blank" id="link-instagram" rel="noreferrer"
                onclick="gtag('event', 'click', { 'event_category': 'Outbound links', 'event_label': 'Instagram'});"><span
                  class="icon"><i class="fab fa-instagram"></i></span>@dra.hannavasconcelos</a>
            </li>
          </ul>
          <a id="main-cta" class="cta button is-large"
            href="https://wa.me/552140429599?text=Olá,%20gostaria%20de%20marcar%20uma%20consulta%20com%20a%20dra.%20Hanna%20Vasconcelos"
            target="_blank" rel="noreferrer"
            onclick="gtag('event', 'click', { 'event_category': 'Outbound links', 'event_label': 'WhatsApp'});gtag('event', 'conversion', {'send_to': 'AW-1035494901/EYlkCMj25ZkDEPXL4e0D'});"><span
              class="icon"><i class="fab fa-whatsapp"></i></span> <span>Agendar consulta via WhatsApp</span></a>
        </div>
      </div>
    </div>
  </div>
</section>