<div class="is-hidden-tablet has-text-centered mobile-schedule-button">
  <a id="main-cta" class="cta button is-medium is-fullwidth"
    href="https://wa.me/552140429599?text=Olá,%20gostaria%20de%20marcar%20uma%20consulta%20com%20a%20dra.%20Hanna%20Vasconcelos"
    target="_blank" rel="noreferrer"
    onclick="gtag('event', 'click', { 'event_category': 'Outbound links', 'event_label': 'WhatsApp'});gtag('event', 'conversion', {'send_to': 'AW-1035494901/EYlkCMj25ZkDEPXL4e0D'});"><span
      class="icon"><i class="fab fa-whatsapp"></i></span> <span>Agendar consulta</span></a>
</div>