<section id="sobre">
  <div class="container">
    <div class="subtitle">
      <h3>Sobre</h3>
    </div>
    <article class="columns sobre">
      <div class="column content is-8">
        <p>Uma vez me perguntaram qual é o meu propósito. Eu respondi que é fazer um bom trabalho, viver bons momentos
          com minha família e amigos, e aproveitar a vida. Percebi que esse também é o meu objetivo ao cuidar dos meus
          pacientes - acolher seus anseios e dúvidas e ajudá-los a aproveitar a vida.</p>
        <p>Durante minha formação em cirurgia geral, me apaixonei pela cirurgia de fígado e tive a oportunidade de viver
          a rotina de um dos hospitais referência de cirurgia e transplante de fígado no mundo em Paris, e logo comecei
          a trabalhar em uma equipe de transplante de fígado.</p>
        <p>Essas experiências me mostraram como tanto os transplantes quanto as cirurgias do aparelho digestivo
          proporcionam exatamente isso para os pacientes: permitem que eles possam <span class="highlight">viver melhor
            e aproveitar a vida!</span></p>
      </div>
      <div class="column has-text-centered">
        <img src="/assets/images/photo-about-2.png" alt="Hanna Vasconcelos" class="photo-about" />
      </div>
    </article>
    <h4>Atividades atuais</h4>
    <div class="columns atividades content">
      <div class="column has-text-centered">
        <img src="/assets/images/hospital-01.svg" alt="Hospital Federal de Ipanema" />
        <p>Cirurgiã no Hospital Federal de Ipanema</p>
      </div>
      <div class="column has-text-centered">
        <img src="/assets/images/hospital-02.svg" alt="Casa de Saúde São José" />
        <p>Cirurgiã geral na Casa de Saúde São José</p>
      </div>
      <div class="column has-text-centered">
        <img src="/assets/images/hospital-03.svg" alt="Hospital São Vicente de Paulo" />
        <p>Cirurgiã do serviço de cirurgia hepatobiliar do Hospital São Vicente de Paulo</p>
      </div>
      <div class="column has-text-centered">
        <img src="/assets/images/hospital-04.svg" alt="Equipe Multidisciplinar Hepatobiliar - EMHep" />
        <p>Cirurgiã da Equipe Multidisciplinar Hepatobiliar – <a href="https://equipemultihepatobiliar.com.br/"
            target="_blank">EMHep</a></p>
      </div>
    </div>
    <h4>Formação</h4>
    <ul class="formacao content">
      <li><img src="/assets/images/icon-graduation.svg" class="icon" alt="Ícone" />Graduação em Medicina pela
        Universidade Federal do Estado do Rio de Janeiro - UNIRIO</li>
      <li><img src="/assets/images/icon-stethoscope.svg" class="icon" alt="Ícone" />Residência Médica em Cirurgia Geral
        e Cirurgia Videolaparoscópica pelo Hospital Federal de Ipanema</li>
      <li><img src="/assets/images/icon-stethoscope.svg" class="icon" alt="Ícone" />Fellowship em Cirurgia Hepatobiliar
        no Centro hepatobiliar Paul Brousse (Paris, França) 2017</li>
      <li><img src="/assets/images/icon-blackboard.svg" class="icon" alt="Ícone" />Curso de Ultrassonografia Hepática
        Intraoperatória no Hospital Humanitas (Milão, Itália) 2017</li>
      <li><img src="/assets/images/icon-blackboard.svg" class="icon" alt="Ícone" />Curso de Cirurgia Hepatobiliar no
        IRCAD Barretos, SP, 2018</li>
      <li><img src="/assets/images/icon-diploma.svg" class="icon" alt="Ícone" />Membro do Colégio Brasileiro de Cirurgia
        Hepatobiliopancreática – CB.IHPBA</li>
      <li><img src="/assets/images/icon-diploma.svg" class="icon" alt="Ícone" />Membro do Colégio Brasileiro de
        Cirurgiões – CBC</li>
    </ul>
  </div>
</section>