body,
html {
  background-color: #6a7299;
  overflow-y: hidden;
}

hr {
  height: 1px;
  opacity: 0.2;
}

.hero {
  box-shadow: 0 0 0 10px inset #D6E2E4;
}

.hero-body {
  padding: 3rem;
}

a,
p {
  color: #D6E2E4;
}

a:hover {
  box-shadow: 0 1px 0 0 #868cac;
  color: #FFF;
  outline-style: none;
}

a:focus {
  color: #6a7299;
  outline-style: none;
  background-color: rgb(214, 226, 228);
  box-shadow: -4px 0px 0px 4px rgb(214, 226, 228),
    4px 0px 0px 4px rgb(214, 226, 228);
  display: inline-block;
  border-radius: 4px;
}

.personal {
  font-size: 0.8em;
  line-height: 1.618em;
}

.personal a {
  margin: 0 8px;
  display: inline-block;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.logo-container {
  max-width: 400px;
  margin: 0 auto;
}

.logo {
  background-image: url('/assets/images/logo.svg');
  width: 100%;
  height: 0;
  padding-top: 50%;
}