$color-primary-25: #eff6f7;
$color-primary-50: #dee9ee;
$color-primary-100: #c6d4de;
$color-primary-200: #a7b6c9;
$color-primary-300: #8896b3;
$color-primary-400: #6b7299;
$color-primary-500: #4f517c;
$color-primary-600: #3d3b66;
$color-primary-700: #332d54;
$color-primary-800: #2b2246;
$color-primary-900: #261b3b;

$color-secondary-25: #fcf4fb;
$color-secondary-50: #fde9fa;
$color-secondary-100: #fdd8f8;
$color-secondary-200: #f8bcf2;
$color-secondary-300: #f0a1ea;
$color-secondary-400: #e388de;
$color-secondary-500: #cc72cb;
$color-secondary-600: #ac5cae;
$color-secondary-700: #854789;
$color-secondary-800: #5a305f;
$color-secondary-900: #2f1a33;

$color-primary: $color-primary-400;
$color-light: $color-primary-50;
$color-bg-light: $color-primary-25;
$color-bg-medium: $color-primary-400;
$color-bg-dark: $color-primary-800;
$color-bg-hero: #f2ebe4;
