#post,
#page {
  .hero {
    background-color: $color-bg-hero;
  }

  .title {
    font-size: 2.4rem;
  }

  .subtitle {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  .content {
    h2 {
      margin-top: 4rem;
    }
    &.main a {
      text-decoration: underline;
    }
  }
  .box {
    h2 {
      margin-top: 0;
    }
  }

  ul {
    margin-bottom: 1em;
    margin-left: 0;

    li {
      list-style-type: disc;
      margin-left: 1.5em;
      margin-bottom: 1em;
    }
  }

  pre {
    background-color: #4a4a4a;
    padding: 1em;
    border-radius: 4px;
    color: #eee;
  }

  img + em {
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.5em;
    display: block;
  }

  img,
  .embed {
    margin: 0 auto;
    display: block;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #toc {
    position: -webkit-sticky;
    position: sticky;
    top: 96px;
    height: calc(100vh - 96px);
    overflow-y: auto;

    ul {
      border-left: 2px solid $color-primary-50;
    }

    ul li {
      list-style-type: none;
      padding: 0;
      margin: 0 0 0 -2px;

      a {
        padding: 0.5rem 0.75rem;
        border-left: 2px solid transparent;
        display: block;

        &:hover:not(.active) {
          border-left-color: $color-primary-200;
        }

        &.active {
          border-left: 2px solid $color-primary-600;
          background-color: $color-primary-25;
        }
      }

      &.toc-h3 a {
        padding-left: 1.25rem;
      }
      &.toc-h4 a {
        padding-left: 1.75rem;
      }
    }

    a.active {
      color: $color-primary-700;
    }
  }
}
