@import url("https://use.typekit.net/zog7ygc.css");

$family-serif: "ivypresto-display", "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
$family-monospace: "SFMono-Regular", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Monaco, "Courier New", Courier, monospace;

h1,
h2,
h3,
h4,
.title,
.content h1,
.content h2,
.content h3,
.content h4 {
  font-family: $family-serif;
  font-weight: 100;
  font-style: normal;
  color: $color-primary-600;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em {
  font-style: italic;
}

h2 {
  font-size: 3.6rem;
  line-height: 110%;
}

h3 {
  font-size: 2.5rem;
  line-height: 100%;
}

h4 {
  font-size: 2rem;
  line-height: 100%;
}

h5 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-mono {
  font-family: $family-monospace;
  font-size: 0.9rem;
}
