<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="logo-container">
          <h1 class="text-hide logo">Hanna Vasconcelos</h1>
          <h2 class="text-hide">Cirurgia geral & videolaparoscopia</h2>
        </div>
        <hr />
        <p class="professional h-card">
          <a href="https://goo.gl/maps/WP158RSWGfEBn94HA" target="_blank" id="link-maps"
            onclick="gtag('event', 'click', { 'event_category': 'Outbound links', 'event_label': 'Google Maps'});">
            <strong>Centro Médico Casa de Saúde São José</strong><br />
            <span class="h-adr">
              <span class="p-street-address">Largo do Ibam 1</span>, 2º andar, Humaitá<br />
              <span class="p-locality">Rio de Janeiro</span> –
              <span class="p-region">RJ</span> –
              <span class="p-postal-code">22271-070</span>
            </span>
          </a>
        </p>
        <p class="h-card">
          Consultas:
          <a href="https://wa.me/5521997587093?text=Olá,%20gostaria%20de%20marcar%20uma%20consulta%20com%20a%20dra.%20Hanna%20Vasconcelos"
            target="_blank" id="link-consultas"
            onclick="gtag('event', 'click', { 'event_category': 'Outbound links', 'event_label': 'Consultas'});gtag('event', 'conversion', {'send_to': 'AW-1035494901/_bnSCNPMuMkBEPXL4e0D'});"><span
              class="icon"><i class="fab fa-whatsapp"></i></span> <span class="p-tel">21 99758 7093</span></a>
        </p>
        <hr />
        <p class="personal h-card">
          <a href="mailto:contato@hannavasconcelos.com.br" class="u-email" id="link-email"
            onclick="gtag('event', 'click', { 'event_category': 'Outbound links', 'event_label': 'Email'});"><span
              class="icon"><i class="far fa-envelope"></i></span>contato@hannavasconcelos.com.br</a>
          <a href="https://instagram.com/dra.hannavasconcelos" target="_blank" id="link-instagram"
            onclick="gtag('event', 'click', { 'event_category': 'Outbound links', 'event_label': 'Instagram'});"><span
              class="icon"><i class="fab fa-instagram"></i></span>@dra.hannavasconcelos</a>
        </p>
      </div>
    </div>
  </section>
</body>

</html>