<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <img
            src="/assets/images/logo.svg"
            alt="Hanna Vasconcelos - Cirurgia geral & videolaparoscopia"
            style="max-width: 400px;"
          />
          <hr style="height: 1px; opacity: 0.3;" />
          <p>
            <a href="mailto:contato@hannavasconcelos.com.br"
              >contato@hannavasconcelos.com.br</a
            ><br />
            <a href="https://wa.me/5521979277227/"
              ><span class="icon"><i class="fab fa-whatsapp"></i></span> 21
              97927 7227</a
            ><br />
            <a href="https://instagram.com/dra.hannavasconcelos"
              ><span class="icon"><i class="fab fa-instagram"></i></span
              >@dra.hannavasconcelos</a
            >
          </p>
          <p>
            <a href="https://goo.gl/maps/f1W8bQfQadKAhugj8" target="_blank">
              <strong>Centro Médico Casa de Saúde São José</strong><br />
              Largo do Ibam 1, 2º andar, Humaitá<br />
              Rio de Janeiro – RJ – 22271-070</a
            ><br />
            Consultas:
            <a href="https://wa.me/5521997587093/"
              ><span class="icon"><i class="fab fa-whatsapp"></i></span> 21
              99758 7093</a
            ><br />
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
