<!DOCTYPE html>
<html lang="pt" class="has-navbar-fixed-top">
{% include head.html %}

<body id="home" class="has-text-grey-dark">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDNBHPP" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include nav-landing.html %}
  {% include hero-landing.html %}
  {% include atendimento.html %}
  {% if page.topic %}
  {% include faq.html topic=page.topic %}
  {% endif %}
  {% include depoimentos.html %}
  {% include sobre.html %}
  {% include especialidades.html %}
  {% include footer.html %}
</body>

</html>