<!DOCTYPE html>
<html lang="pt" class="has-navbar-fixed-top">
{% include head.html %}

<body id="post">
  {% include nav-internal.html %}
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2 class="subtitle">{{ page.subtitle }}</h2>
        {% endif %}
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-three-quarters-desktop content main">{{ content }}</div>
        <div id="toc" class="column is-hidden-touch">
          <p class="content"><small>Tópicos:</small></p>
        </div>
      </div>
    </div>
  </section>
  {% include footer-post.html %}
</body>

</html>